
@import './base/settings';
@import './base/base';


html, body{
    background-color: #FCFDFE;
    /* background: rgb(173,93,0);
    background: linear-gradient(165deg, rgb(198, 133, 60) 0%, rgba(103,57,107,1) 54%, rgba(38,41,117,1) 100%); */
    color:rgb(0, 0, 0);
    margin:0;
    min-height: 100vh;
}

// Margins 
.mt-0{
    margin-top: 0px;
}
.mt-1{
    margin-top: 5px;
}
.mt-2{
    margin-top: 10px;
}
.mt-3{
    margin-top: 18px;
}
.mt-4{
    margin-top: 25px;
}
.mt-5{
    margin-top: 40px;
}
.mt-6{
    margin-top: 55px;
}

.mb-0{
    margin-bottom: 0px;;
}
.mb-1{
    margin-bottom: 5px;
}
.mb-2{
    margin-bottom: 10px;
}
.mb-3{
    margin-bottom: 18px;
}
.mb-4{
    margin-bottom: 25px;
}
.mb-5{
    margin-bottom: 40px;
}


// Paddings
.pt-1{
    padding-top: 5px;
}
.pt-2{
    padding-top: 10px;
}
.pt-3{
    padding-top: 18px;
}
.pt-4{
    padding-top: 25px;
}
.pt-5{
    padding-top: 40px;
}

.pb-1{
    padding-bottom: 5px;
}
.pb-2{
    padding-bottom: 10px;
}
.pb-3{
    padding-bottom: 18px;
}
.pb-4{
    padding-bottom: 25px;
}
.pb-5{
    padding-bottom: 40px;
}

// TEXTOS

.txt-1{
    font-size: 5px;
}
.txt-2{
    font-size: 10px;
}
.txt-3{
    font-size: 12px;
}
.txt-4{
    font-size: 14px;
}
.txt-5{
    font-size: 18px;
}
.txt-6{
    font-size: 23px;
}
.txt-7{
    font-size: 30px;
}

.font-w1{
    font-weight: 100;
}
.font-w2{
    font-weight: 200;
}
.font-w3{
    font-weight: 300;
}
.font-w4{
    font-weight: 400;
}
.font-w5{
    font-weight: 500;
}
.font-w6{
    font-weight: 600;
}
.font-w7{
    font-weight: 700;
}
.font-w8{
    font-weight: 800;
}

.white{
    color:white;
}
.black{
    color:black;
}

///

// FOTOS PERFIL
.img-perfil1{
    align-self:center;
    height: 180px;
    width: 180px;
}
.img-perfil2{
    align-self:center;
    height: 100px;
    width: 100px;
}
.img-perfil3{
    align-self:center;
    height: 50px;
    width: 50px;
}
.img-perfil4{
    align-self:center;
    height: 30px;
    width: 30px;
}


//





.bg-black{
    background-color: black;
}

.all-height{
    min-height: 100vh;
    height: 100%;
}
/* .all-height{
    height: 100vh;
} */

.space-between{
    display:flex;
    justify-content: space-between;
}
.space-between input{
    text-align: right;
}
.space-between input:focus{
    outline:none;
    /* outline-color: transparent; */
    text-align: right;
}
.space-around{
    display:flex;
    justify-content: space-around;
}
.center{
    display:flex;
    justify-content: center;
}
.column{
    display:flex;
    flex-direction: column;
}
.column-center{
    display:flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    justify-items: center;
}

.form-center{
    background-color: red;
    display: none;
    
}

.flex{
    display:flex;
}
.hide{
    display:none;
}






// General
.div-general-centrado{
    display: flex;
    flex-direction: column;
    place-items: center;
}

.fila-tabla{
    padding-top:20px;
    padding-bottom:20px;
   
}
.cambiador-div{
    display:flex;
    justify-content: center;
}
.cambiador{
    position: absolute;
    width: 25px;
    place-self: center;
    align-self: center;
    justify-self: center;
    z-index: 50;

    transition: 0.5s;
}
.cambiador:hover{
   /*  background-color: rgba(0, 94, 255, 0.125); */
    transform: rotate(-360deg);
    border-radius: 100px;
    width: 32px;
}
.cambiador:active{
    transition: 0.05s;
    width: 37px;
}

tr:hover{
    background-color: rgb(244, 244, 244);
   
   
}

td a {
    text-decoration: none;
    color: $text-primary;
}

table{
    width: 80%;
}

.caract1-alone h6{
    display: flex;
    height: fit-content;
    place-items: center;
    place-self: center;
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    color:rgb(113, 113, 113);
    padding: 4px 9px 4px 9px;
    margin-right: 5px;
    transition: 0.3s;

}
.caract1-alone h6:hover{
    background-color: rgb(205, 205, 205);
}

.caract1-alone a{
    text-decoration: none;
    color:rgb(113, 113, 113);
}

.caract1 h6:nth-child(1){
    background-color: rgb(143, 143, 143);
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    color:white;
    padding: 4px 9px 4px 9px;
    margin-right: 5px;

}
.caract1 h6:nth-child(2){
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    color:rgb(113, 113, 113);
    padding: 4px 9px 4px 9px;
    margin-right: 5px;

}

.gris-claro{
    color:$light-grey;
}
.gris-medio{
    color:(darken($color: $light-grey, $amount: 8));
}

.column h6{
    font-size: 13px;
}


.grid{
    display: grid;
    margin-top:90px;
    width: 80%;
    margin-left: 17%;
    justify-content: center;
    place-items: center;
  
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    font-family: "Poppins";


    background-color: transparent;
    height: fit-content;
}


.boton-información-popup button{
   size:10px
}

.input1{
    padding: 5px 25px 5px 25px;
    border-radius: 5px;
    border:none;
}
.button1{
    text-align: center;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    border:none;
    background-color: rgb(255, 162, 0);
    color:black;
    font-weight: 600;

}

.link1 a{
    text-decoration: none;
    color:white;
    font-weight: 500;
    text-align: center;
}



@media (max-width:650px){
    .caract1 h6{
        font-size: 10px;
    }
    tr h6{
        font-size: 12px;
    }
   
}
