.contenedor-general-navigationbar{
    position: fixed;
    width: 100%;
    z-index: 10;
}

a {
    text-decoration: none;
}

.no-logeado{
    display:none;
}
.logeado{
    display:none;
}




.toggler-open{
    position: absolute;
    width: 100%;
    height: 80vh;
    left:0;
    position: absolute;
    
    text-align: center;
    
    background-color: black;
    z-index: 100;
    
}

.toggler-open ul{
    color:white;
    padding:0;
    font-size: 35px;
}
.cruz-cerrar{
    cursor: pointer;
    position: absolute;
    top:20px;
    right: 30px;
    font-size: 50px;
    color: rgb(205, 205, 205);
}
.primer-elemento-toggler{
    margin-top:150px;
}

.toggler-closed{
    display:none;
}